---
http_interactions:
- request:
    method: get
    uri: http://youtu.be/hPJ0oLahGDg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      location:
      - http://www.youtube.com/watch?v=hPJ0oLahGDg&feature=youtu.be
      content-type:
      - text/html
      alternate-protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 06 Jan 2014 11:42:19 GMT
- request:
    method: get
    uri: http://www.youtube.com/watch?v=hPJ0oLahGDg&feature=youtu.be
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=utf-8
      alternate-protocol:
      - 80:quic
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"><head><script>var
        ytcsi = {gt: function(n) {n = (n || '') + 'data_';return ytcsi[n] || (ytcsi[n]
        = {tick: {},span: {},info: {}});},tick: function(l, t, n) {ytcsi.gt(n).tick[l]
        = t || +new Date();},span: function(l, s, n) {ytcsi.gt(n).span[l] = (typeof
        s == 'number') ? s :+new Date() - ytcsi.data_.tick[l];},info: function(k,
        v, n) {ytcsi.gt(n).info[k] = v;}};(function() {var perf = window['performance']
        || window['mozPerformance'] ||window['msPerformance'] || window['webkitPerformance'];ytcsi.tick('_start',
        perf ? perf['timing']['responseStart'] : null);})();if (document.webkitVisibilityState
        == 'prerender') {ytcsi.info('prerender', 1);document.addEventListener('webkitvisibilitychange',
        function() {ytcsi.tick('_start');}, false);}try {ytcsi.pt_ = (window.chrome
        && chrome.csi().pageT ||window.gtbExternal && gtbExternal.pageT() ||window.external
        && external.pageT);if (ytcsi.pt_) {ytcsi.info('pt', Math.floor(ytcsi.pt_));}}
        catch(e) {}</script>    <script>var ytimg = {};ytimg.count = 1;ytimg.preload
        = function(src) {var img = new Image();var count = ++ytimg.count;ytimg[count]
        = img;img.onload = img.onerror = function() {delete ytimg[count];};img.src
        = src;};</script>\n\n  <link id=\"css-344564990\" class=\"www-core\" rel=\"stylesheet\"
        href=\"//s.ytimg.com/yts/cssbin/www-core-vfl4DqC20.css\" data-loaded=\"true\">\n<script>if
        (window.ytcsi) {window.ytcsi.tick(\"ce\", null, '');}</script>  \n      <script>\n
        \   ytimg.preload(\"http:\\/\\/r4---sn-3jvh-ajte.googlevideo.com\\/crossdomain.xml\");\n
        \   ytimg.preload(\"http:\\/\\/r4---sn-3jvh-ajte.googlevideo.com\\/generate_204\");\n
        \ </script>\n\n\n  <script>\ntry {var ytbuffer = {};ytbuffer.bufferedClick;ytbuffer.handleClick
        = function(e) {var element = e.target || e.srcElement;while (element.parentElement)
        {if (element.className.match(/^yt-can-buffer$|^yt-can-buffer | yt-can-buffer$|
        yt-can-buffer /)) {ytbuffer.bufferedClick = e;element.className += ' yt-is-buffered';break;}element
        = element.parentElement;}};if (document.addEventListener) {document.addEventListener('click',
        ytbuffer.handleClick);} else {document.attachEvent('onclick', ytbuffer.handleClick);}}
        catch(e) {}  </script>\n<title>Baby Mama Drama - Tainted Love Chapter 1 -
        YouTube</title><link rel=\"search\" type=\"application/opensearchdescription+xml\"
        href=\"http://www.youtube.com/opensearch?locale=en_GB\" title=\"YouTube Video
        Search\"><link rel=\"shortcut icon\" href=\"http://s.ytimg.com/yts/img/favicon-vfldLzJxy.ico\"
        type=\"image/x-icon\">     <link rel=\"icon\" href=\"//s.ytimg.com/yts/img/favicon_32-vflWoMFGx.png\"
        sizes=\"32x32\"><link rel=\"canonical\" href=\"/watch?v=hPJ0oLahGDg\"><link
        rel=\"alternate\" media=\"handheld\" href=\"http://m.youtube.com/watch?v=hPJ0oLahGDg\"><link
        rel=\"alternate\" media=\"only screen and (max-width: 640px)\" href=\"http://m.youtube.com/watch?v=hPJ0oLahGDg\"><link
        rel=\"shortlink\" href=\"http://youtu.be/hPJ0oLahGDg\">      <meta name=\"title\"
        content=\"Baby Mama Drama - Tainted Love Chapter 1\">\n\n      <meta name=\"description\"
        content=\"Barry discovers that Jezebel is pregnant and immediately begins
        to worry about how they&#39;ll be able to afford raising a child. They decide
        to rob a convenienc...\">\n\n      <meta name=\"keywords\" content=\"Tainted
        Love, Machinima Prime, Machinima, Prime, Tainted, Love, crime, action, hitman,
        baby, baby mama, guns, shootout, robber[...]
